---
layout: default
title: Support 
---

<h2>Current funding sources</h2>
{% for source in site.data.support.funding %}
{% if source.current == true %}
<h4>{{ source.name }}</h4>
<img style="max-height:160px; max-width:600px;" class="media-object" src="{{ source.image | prepend: site.url }}">
<div class="bigspacer"></div>
<div class="bigspacer"></div>
{% endif %}
{% endfor %}

<h2>Past funding sources</h2>
{% for source in site.data.support.funding %}
{% if source.current == false %}
<h4>{{ source.name }}</h4>
<img style="max-height:160px; max-width:600px;" class="media-object" src="{{ source.image | prepend: site.url }}">
<div class="bigspacer"></div>
<div class="bigspacer"></div>
{% endif %}
{% endfor %}

<h2>Industry Partners</h2>
{% for partner in site.data.support.industry %}
<h4>{{ partner.name }} : {{ partner.research-area }}</h4>
<h5>{{ partner.location }}</h5>
<img style="max-height:160px; max-width:600px;" class="media-object" src="{{ partner.image | prepend: site.url }}">
<div class="bigspacer"></div>
<div class="bigspacer"></div>
{% endfor %}

<h2>Clinical Partners</h2>
{% for partner in site.data.support.clinical %}
<h4>{{ partner.name }} : {{ partner.research-area }}</h4>
<h5>{{ partner.location }}</h5>
<img style="max-height:160px; max-width:600px;" class="media-object" src="{{ partner.image | prepend: site.url }}">
<div class="bigspacer"></div>
<div class="bigspacer"></div>
{% endfor %}

