---
layout: default
title: Support 
description: A page describing support and partnerships for the iMED lab at the University of Pittsburgh.
keywords: panacis medical, syngrafii, national institutes of health, national institute of diabetes and digestive and kidney diseases, National Institute on Aging, Natural Sciences and Engineering Research Council of Canada, toronto rehab, holland bloorview kids rehabilitation hospital, ervin sejdic, iMED, University of Pittsburgh
---

<h3>Industrial Partnerships</h3>
<table class="table">
    <thead>
        <tr>
            <th>Company</th>
            <th></th>
            <th>Research Area</th>
        </tr>
    </thead>
    <tbody>
        {% for partner in site.data.support.industry %}
        <tr>
            <td>{{ partner.name }}{% if partner.location %} ({{ partner.location }}){% endif %}</td>
            <td><img style="max-height:160px; max-width:300px;" src="{{ partner.image | prepend: site.url }}"></td>
            <td>{{ partner.research-area }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
            
<h3>Clinical Partnerships</h3>
<table class="table">
    <thead>
        <tr>
            <th>Institution</th>
            <th></th>
            <th>Research Area</th>
        </tr>
    </thead>
    <tbody>
        {% for partner in site.data.support.clinical %}
        <tr>
            <td>{{ partner.name }}{% if partner.location %} ({{ partner.location }}){% endif %}</td>
            <td><img style="max-height:160px; max-width:300px;" src="{{ partner.image | prepend: site.url }}"></td>
            <td>{{ partner.research-area }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<h3>Funding</h3>
<table class="table">
    <thead>
        <tr>
            <th>Institution</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for partner in site.data.support.funding %}
        <tr>
            <td>{{ partner.name }}{% if partner.location %} ({{ partner.location }}){% endif %}</td>
            <td><img style="max-height:160px; max-width:300px;" src="{{ partner.image | prepend: site.url }}"></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
