---
layout: default
title: Former Trainees
description: A page describing former lab members of the iMED lab at the University of Pittsburgh and Unviersity of Toronto.
keywords: ervin sejdic, lab members, BSc candidates, MSc candidates, PhD candidates,iMED, University of Pittsburgh, university of western ontario, university of toronto, harvard medical school, harvard university, Institute of Biomaterials and Biomedical Engineering, Holland Bloorview Kids Rehabilitation Hospital, signal processing, time-frequency, swallowing, gait, handwriting, functional transcranial doppler, compressive sensing
---

<h2>Former trainees at the University of Pittsburgh</h2>

<h4>Graduate students</h4>
{% for student in site.data.people.former-members.pittsburgh.graduate-students %}
    <div class="row">
        <div class="col-md-2">{{student.year}}</div>
        <div class="col-md-6">{{student.name}}, {{student.degree}}, {{student.school}}, "{{student.title}}"</div>
    </div>
    <div class="spacer"></div>
{% endfor %}


<h4>Graduate internship students</h4>
{% for student in site.data.people.former-members.pittsburgh.graduate-internship-students %}
    <div class="row">
        <div class="col-md-2">{{student.year}}</div>
        <div class="col-md-6">{{student.name}}, {{student.school}}, "{{student.title}}"</div>
    </div>
    <div class="spacer"></div>
{% endfor %}

<h4>Undergraduate senior design</h4>
{% for student in site.data.people.former-members.pittsburgh.undergraduate-senior-design %}
    <div class="row">
        <div class="col-md-2">{{student.year}}</div>
        <div class="col-md-6">{{student.name}}, {{student.school}}, "{{student.title}}" {{student.misc}}</div>
    </div>
    <div class="spacer"></div>
{% endfor %}

<h4>Undergraduate independent study</h4>
{% for student in site.data.people.former-members.pittsburgh.undergraduate-independent-study %}
    <div class="row">
        <div class="col-md-2">{{student.year}}</div>
        <div class="col-md-6">{{student.name}}, {{student.school}}, "{{student.title}}"</div>
    </div>
    <div class="spacer"></div>
{% endfor %}

<h4>Undergraduate summer research supervision</h4>
{% for student in site.data.people.former-members.pittsburgh.undergraduate-summer-research-supervision %}
    <div class="row">
        <div class="col-md-2">{{student.year}}</div>
        <div class="col-md-6">{{student.name}}, {{student.degree}}, {{student.school}}, "{{student.title}}" {{student.misc}}</div>
    </div>
    <div class="spacer"></div>
{% endfor %}

<h2>Former trainees at the University of Toronto</h2>

<h4>Graduate students</h4>
{% for student in site.data.people.former-members.toronto.graduate-students %}
    <div class="row">
        <div class="col-md-2">{{student.year}}</div>
        <div class="col-md-6">{{student.name}}, {{student.degree}}, {{student.school}}, "{{student.title}}"</div>
    </div>
    <div class="spacer"></div>
{% endfor %}

<h4>Undergraduate thesis supervision</h4>
{% for student in site.data.people.former-members.toronto.undergraduate-thesis-supervision %}
    <div class="row">
        <div class="col-md-2">{{student.year}}</div>
        <div class="col-md-6">{{student.name}}, {{student.school}}, "{{student.title}}"</div>
    </div>
    <div class="spacer"></div>
{% endfor %}

<h4>Undergraduate internship students</h4>
{% for student in site.data.people.former-members.toronto.undergraduate-internship-students %}
    <div class="row">
        <div class="col-md-2">{{student.year}}</div>
        <div class="col-md-6">{{student.name}}, {{student.school}}, "{{student.title}}"</div>
    </div>
    <div class="spacer"></div>
{% endfor %}

<h4>Undergraduate summer research supervision</h4>
{% for student in site.data.people.former-members.toronto.undergraduate-summer-research-supervision %}
    <div class="row">
        <div class="col-md-2">{{student.year}}</div>
        <div class="col-md-6">{{student.name}}, {{student.degree}}, {{student.school}}, "{{student.title}}"</div>
    </div>
    <div class="spacer"></div>
{% endfor %}
