<div id="header">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">	 
        <div class="container">	
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-element" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{ site.url }}/"><img style="height:60px;" src="{{ site.url }}/images/logo.png"></a>
            </div>
            <div class="navbar-collapse collapse" id="navbar-collapse-element">
                <ul class="nav navbar-nav navbar-right">
                    {% if page.categories.first == 'about' %}
                    <li class="active dropdown">
                    {% else %}
                    <li class="dropdown">
                    {% endif %}
                        <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">about</a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ site.url }}/about/us/" title="about us">about us</a></li>
                            <li><a href="{{ site.url }}/about/contact/" title="contact">contact</a></li>
                            <li><a href="{{ site.url }}/about/media/" title="media">media</a></li>
                        </ul>
                    </li>
                    {% if page.categories.first == 'publications' %}
                    <li class="active dropdown">
                    {% else %}
                    <li class="dropdown">
                    {% endif %}
                        <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">publications</a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ site.url }}/publications/books/" title="books">books</a></li>
                            <li><a href="{{ site.url }}/publications/chapters/" title="book chapters">book chapters</a></li>
                            <li><a href="{{ site.url }}/publications/journals/" title="journal publications">journal publications</a></li>
                            <li><a href="{{ site.url }}/publications/conferences/" title="conferences">conferences</a></li>
                            <li><a href="{{ site.url }}/publications/patents/" title="patents">patents</a></li>
                        </ul>
                    </li>

                    {% if page.categories.first == 'research' %}
                    <li class="active dropdown">
                    {% else %}
                    <li class="dropdown">
                    {% endif %}
                        <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">research</a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ site.url }}/research/signal-processing/" title="signal processing">signal processing</a></li>
                            <li><a href="{{ site.url }}/research/dysphagia/" title="swallowing difficulties">swallowing difficulties</a></li>
                            <li><a href="{{ site.url }}/research/gait-analysis/" title="gait analysis">gait analysis</a></li>
                            <li><a href="{{ site.url }}/research/handwriting-analysis/" title="handwriting analysis">handwriting analysis</a></li>
                            <li><a href="{{ site.url }}/research/fTCD/" title="functional TCD">functional TCD</a></li>
                        </ul>
                    </li>
                    {% if page.categories.first == 'people' %}
                    <li class="active dropdown">
                    {% else %}
                    <li class="dropdown">
                    {% endif %}
                        <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">people</a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ site.url }}/people/principal-investigator/" title="principal investigator">principal investigator</a></li>
                            <li><a href="{{ site.url }}/people/current-members/" title="current members">current members</a></li>
                            <li><a href="{{ site.url }}/people/former-trainees/" title="former trainees">former trainees</a></li>
                        </ul>
                    </li>
                    {% if page.categories.first == 'support' %}
                    <li class="active">
                    {% else %}
                    <li>
                    {% endif %}
                    <a href="{{ site.url }}/support/">support</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>	
</div>

