<div class="row">
    <div class="col-md-4">
        <a class="twitter-timeline" data-width="300" data-height="500" href="https://twitter.com/iMEDLaboratory">Tweets by iMEDLaboratory</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-md-4">
        <a class="twitter-timeline" data-width="300" data-height="500" href="https://twitter.com/ErvinSejdic">Tweets by ErvinSejdic</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-md-4">
        <h4>Similar Research</h4>
                    <a class="twitter-timeline" data-chrome="noheader" href="https://twitter.com/search?q=%23machinelearning%20OR%20%23artificialintelligence%20OR%20%23dataanalytics%20OR%20%23datascience%20OR%20%23robotics%20OR%20%23engineering%20OR%20%23research%20OR%20%23medicine%20OR%20%23dysphagia%20OR%20%23gait" data-widget-id="821521379560456192">Tweets about #machinelearning OR #artificialintelligence OR #dataanalytics OR #datascience OR #robotics OR #engineering OR #research OR #medicine OR #dysphagia OR #gait</a>
                                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
</div>
