---
layout: default
title: Media
description: Media about a research lab at the University of Pittsburgh headed by Dr. Ervin Sejdic.
keywords: media, web, television, radio, ervin sejdic, iMED, University of Pittsburgh
categories:
 - media
---

<h2>Media</h2>
{% for media in site.data.media %}
{% if media.link %}
"{{ media.title }}" <a href="http://{{media.link}}">{{media.link}}</a> {{media.date}}
{% else %}
{{ media.author }}, "{{ media.title }}" {{ media.pubdetails }}, {{ media.date }}
{% endif %}
<div class="spacer"></div>
{% endfor %}
