---
layout: default
title: Conferences 
---

<h2>Refereed Conference Proceedings</h2>
<div class="spacer"></div>
<ol>
    {% for paper in site.data.publications.conferences.proceedings %}
    {% if paper.abstract %}
    <div class="row">
        <div class="col-md-8">
            <li>
                <a data-toggle="collapse" data-target="#{{paper.slug}}" class="off">{{ paper.citation }}</a>
            </li>
        </div>
    </div>
    <div id="{{paper.slug}}" class="collapse">
        <p><a href="{{ paper.pdf | prepend:site.url }}">PDF</a> | DOI: <a href="http://dx.doi.org/{{paper.doi}}">{{paper.doi}}</a><p>
        <p>{{paper.abstract}}</p>
    </div>
    {% else %}
    <div class="row">
        <div class="col-md-8">
            <li>
                {{ paper.citation }}
            </li>
        </div>
    </div>
    {% endif %}

    <div class="spacer"></div>
    {% endfor %}
</ol>

<h2>Refereed Conference Abstracts</h2>
<div class="spacer"></div>
<ol>
    {% for paper in site.data.publications.conferences.abstracts %}
    <div class="row">
        <div class="col-md-8">
            <li>
                {{ paper.citation }}
            </li>
        </div>
    </div>
    <div class="spacer"></div>
    {% endfor %}
</ol>
