---
layout: default
title: Funding Sources
---

<h2>Current funding sources</h2>
{% for source in site.data.support.funding %}
    {% if source.current == true %}
        <h4>{{ source.name }}</h4>
        <img style="max-height:160px; max-width:600px;" class="media-object" src="{{ source.image | prepend: site.url }}">
        <div class="bigspacer"></div>
        <div class="bigspacer"></div>
    {% endif %}
{% endfor %}
        
<h2>Past funding sources</h2>
{% for source in site.data.support.funding %}
    {% if source.current == false %}
        <h4>{{ source.name }}</h4>
        <img style="max-height:160px; max-width:600px;" class="media-object" src="{{ source.image | prepend: site.url }}">
        <div class="bigspacer"></div>
        <div class="bigspacer"></div>
    {% endif %}
{% endfor %}
