---
layout: default
title: Current Members
description: A page describing current lab members of the iMED lab at the University of Pittsburgh.
keywords: ervin sejdic, lab members, BSc candidates, MSc candidates, PhD candidates,iMED, University of Pittsburgh, university of western ontario, university of toronto, harvard medical school, harvard university, Institute of Biomaterials and Biomedical Engineering, Holland Bloorview Kids Rehabilitation Hospital, signal processing, time-frequency, swallowing, gait, handwriting, functional transcranial doppler, compressive sensing
---
<h2>Current Members</h2>
<div class="bigspacer"></div>
{% for member in site.data.people.current-members %}
<div class="row">
    <div class="col-md-4 memberbox">
        <div class="media">
            {% if member.image %}
            <a class="pull-left">
                <img width=160 class="media-object" src="{{ member.image | prepend:site.url }}">
            </a>
            {% else %}
            <a class="pull-left">
                <img width=160 class="media-object" src="{{ site.url }}/images/people/labmember.jpg">
            </a>
            {% endif %}
            <div class="media-body">
                <div class="head media-heading">{{ member.name }}</div>
                <p class="note">{{ member.title }}</p>
                <p class="note">{{ member.email }}</p>
            </div>
        </div>
        <div class="bigspacer"></div>
        <div class="bigspacer"></div>
    </div>
    <div class="col-md-6">
        <div class="head">Education and training</div>
        {{ member.education }}
        <div class="spacer"></div>
        <div class="head">Research interests</div>
        {{ member.research }}
    </div>
</div>
<div class="bigspacer"></div>
<div class="bigspacer"></div>
{% endfor %}


